$darkestBlue = #387681;
$darkBlue = #4ab3ac;
$blue = #6ac5c0;
$lightBlue = #87d5c7;
$lightestBlue = #e1f4f0;

$desktop = 1120px;

.container {
	padding-bottom: 30px;
	@media (min-width: $desktop) {
		height:1050px;
		padding: 0;
	}
}
.info {
	@media (min-width: $desktop) {
		height:175px;
	}
}
	.length {
		display: block;
		font-size:19px;
		line-height:40px;
		color: $blue;

		@media (min-width: $desktop) {
			padding:26px 0 8px;
		}		
	}
	.day {
		display: block;
		font-size: 32px;
		line-height: 44px;
		padding-top: 5px;
		color: $darkestBlue;
	}
	.location {
		display: block;
		text-transform: uppercase;
		color: $darkBlue;
	}
.name {
	@media (min-width: $desktop) {
		height:665px;
		padding:50px 0 0;
	}
	padding:30px 0;
	margin-left:-10px;
}
	.nameLine {
		display: block;
		width:460px;
		font-size:150px;
		line-height:127px;
		letter-spacing: -5px;

		&:nth-of-type(4n+1) {
			color: $lightBlue;
		}
		&:nth-of-type(4n+2) {
			color: $blue;
			padding-bottom:15px;
		}
		&:nth-of-type(4n+3) {
			color: $darkBlue;
			padding-bottom:40px;
		}
		&:nth-of-type(4n) {
			color: $darkestBlue;
		}
	}
.blurbs {
	height:210px;
	padding-top:10px;
}
	.blurb {
		display: block;
		font-size:42px;
		line-height:50px;
		color: $darkBlue;
		@media (min-width: $desktop) {
			margin-left:45.5%;
			padding-left:10px;
		}
	}