$darkestBlue = #387681;
$darkBlue = #4ab3ac;
$blue = #6ac5c0;
$lightBlue = #87d5c7;
$lightestBlue = #e1f4f0;

$break = 850px;
$tablet = 620px;

.container {

	@media (min-width: $break) {
		display: flex;
		justify-content: space-between;
		margin:25px 0 30px 0;
	}
}
	.cta {
		font-size: 14px;
		line-height: 20px;

		margin: 8px 5px;
		color: $darkestBlue;
		font-weight: 600;
		
		@media (min-width: $tablet) {
			font-size: 23px;
			line-height: 30px;
		}

		@media (min-width: $break) {
			flex:1 auto;
		}
    }
		.link {
			display: block;
			color: $darkBlue;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
		.bottomLink {
			display: inline-block;
    		margin-top: 15px;
			color: $darkBlue;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

	.associates {
		
		display: flex;
		justify-content: space-between;
		align-items: top;
		list-style: none;
		padding: 10px 0;
		margin: 0;

		@media (min-width: $tablet) {
			padding: 20px 20px 0 10px;
		}
		@media (min-width: $break) {
			width:55%;
			flex:0 auto;
		}
	}
		.associate {
			list-style: none;
			padding: 0;
			margin: 0;
			flex:0 auto;
			
		}
			.associateLink {}
			.associateImg {
				zoom: 30%;
				@media (min-width: $tablet) {
					zoom:50%;
				}
			}