$darkestBlue = #387681;
$darkBlue = #4ab3ac;
$blue = #6ac5c0;
$lightBlue = #87d5c7;
$lightestBlue = #dff0f1;

$tablet = 620px;
$lappy = 840px;
$desktop = 1120px;

body {
	background-color:$lightestBlue;
	@media (min-width: $desktop) {
		background: $lightestBlue url('./bg.png') no-repeat calc(50% - 50px) 0;
		background-size: 1280px auto;
	}
}
.container {
	padding:0 20px;
	min-width:500px;
	max-width:$desktop;
	@media (min-width: $desktop) {
		margin: 0 auto;
		padding:0;
	}
}